@import url('../src/WEB/css/nippo.css');

@font-face {
  font-family: 'Nippo-Variable';
  src: url();
}

button {
  /* padding: none; */
  /* border-width : 0; */
  border: none;
  cursor: pointer;
}
/* 
font-family: 'Nippo-Extralight';
font-family: 'Nippo-Light';
font-family: 'Nippo-Regular';
font-family: 'Nippo-Medium';
font-family: 'Nippo-Bold'; */

body {
  margin: 0;
  font-family:BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin: 0 auto;

  font-family: 'Nippo-Variable';


}
